<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<display-name>sgp</display-name>
	<servlet>
		<servlet-name>LCC</servlet-name>
		<servlet-class>dev.sgp.web.ListerCollaborateursController</servlet-class>	
	</servlet>
	
	<servlet>
		<servlet-name>ECC</servlet-name>
		<servlet-class>dev.sgp.web.EditerCollaborateurController</servlet-class>	
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>LCC</servlet-name>
		<url-pattern>/collaborateurs/listerCollab</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ECC</servlet-name>
		<url-pattern>/collaborateurs/editer</url-pattern>
	</servlet-mapping>
	


</web-app>